*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Inter',sans-serif;
background:#0b0f14;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#000;
position:sticky;
top:0;
z-index:100;
}

.logo{
display:flex;
align-items:center;
gap:15px;
}

.logo img{
width:70px;
height:70px;
}

.logo h1{
color:#d4af37;
font-family:'Playfair Display',serif;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
}

.hero{
    min-height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url('../assets/courthouse.jpg');
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.hero h2{
font-size:70px;
font-family:'Playfair Display',serif;
color:#d4af37;
}

.hero p{
    margin:20px auto 0 auto;
    font-size:20px;
    max-width:700px;
    text-align:center;
    line-height:1.5;
}
.overlay{
    text-align:center;
    width:100%;
}

.btn{
display:inline-block;
margin-top:30px;
padding:14px 30px;
background:#d4af37;
color:black;
text-decoration:none;
font-weight:bold;
border-radius:5px;
}

.section{
padding:80px 10%;
}

.section h2{
color:#d4af37;
margin-bottom:30px;
font-size:40px;
font-family:'Playfair Display',serif;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.card{
background:#111827;
padding:25px;
border:1px solid #333;
border-radius:10px;
transition:.3s;
height:100%;
}

.card:hover{
transform:translateY(-8px);
border-color:#d4af37;
}

.card:hover{
transform:translateY(-8px);
border-color:#d4af37;
}

.dark{
background:#090d12;
}

footer{
text-align:center;
padding:30px;
background:#000;
color:#999;
}

@media(max-width:768px){

header{
flex-direction:column;
gap:15px;
}

.hero h2{
font-size:42px;
}

nav{
display:flex;
flex-wrap:wrap;
justify-content:center;
}
}
.team-link{
    text-decoration:none;
    color:inherit;
    display:block;
}

.team-link .card{
    cursor:pointer;
}
.card{
    opacity:1;
    transform:none;
    transition:all 0.6s ease;
}

.card.show{
    opacity:1;
    transform:translateY(0);
}
.card{
    display:block !important;
    opacity:1 !important;
    visibility:visible !important;
}
.team-link{
    text-decoration:none;
    color:inherit;
    display:block;
}

.team-link .card{
    cursor:pointer;
}

@media(max-width:768px){

    .logo img{
        width:50px;
        height:50px;
    }

    .logo h1{
        font-size:18px;
    }

    .section h2{
        font-size:42px;
    }

}
#about h2{
    color:#d4af37;
    font-size:52px;
    font-family:'Playfair Display',serif;
    margin-bottom:10px;
}

.about-line{
    width:80px;
    height:4px;
    background:#d4af37;
    margin:15px 0 30px;
}

#about p{
    max-width:1000px;
    font-size:18px;
    line-height:1.8;
    color:#d1d5db;
}
